td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 20px;

}
table, th, td, tr{
    border: 1px solid rgb(141, 140, 140);
    border-collapse: collapse;
    margin: 10px;

}
td, th{
    width: 70px;
    height: 50px;
    text-align: center;
    
}

label {
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}
tr {
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
table {
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    appearance: none;
    padding: 5px;
    font-size: 16px;
    width: 150px;
    border: 2px solid black; 
    border-radius: 8px;
    background-color: #fff;     
    color: #333; 
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:hover {
    border-color: #95a2ff;
}


select:focus {
    border-color: black ;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
input {
    appearance: none;
    padding: 8px;
    font-size: 16px;
    width: 35px;
    border: 2px solid black; 
    border-radius: 8px;
    background-color: #fff;   
    
    color: #333; 
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

button:hover {
    background-color: #95a2ff; 
}

button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}

label {
    display: inline-block; 
    font-size: 20px; 
    color: #333; 
    margin-bottom: 5px; 
    transition: color 0.3s; 
    margin: 15px;
}

label:hover {
    color: #95a2ff; 
}

label:focus-within {
    color: #000; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}

.legenda {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 200px;
    color: white;
    margin: 10px;
    
}

.caminhao {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.azul {
    background-color: #344ddb;
}

.verde {
    background-color: #17bd40;
}

.rosa {
    background-color: #e91e63;
}

.roxo {
    background-color: #9b59b6;
}

.dias {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
    grid-row: auto
}